*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a:hover{
    color: #a8491d;
}

.btn-1{
    height: 40px;
    background: #a8491d;
    width: 80px;
    border: none;
    color: #fff;
    padding-left:  0 20px;
}
/* haeder */
header{
    background: #35424a;
    color: #fff;
    padding: 30px;
    min-height: 70px;
    border-bottom: #a8491d 3px solid;
    /* border: red 3px solid; */
}

img{
    width: 90px;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0 20px;
}



header li{
    float: left;
   
}

header #branding{
    float: left;
    
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header span{
    color: #a8491d;
    font-weight: bolder;
}

header .highlight a{
    color: #a8491d;
}

/* showcase */

#showcase{
    min-height: 400px;
    /* border: rebeccapurple 3px solid; */
    background-image: url('/images/binary.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;

    
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

#showcase p{
    text-align: center;
    width: 80%;
    font-size: 20px;
}

#article{
    padding: 30px;
    background:#35424a ;
    margin-bottom: 18px;
}

#article h1{
    color: #fff;
    text-transform:capitalize ;
    float: left;
}

/* article ID */

#article form{
    float: right;
    margin-top: 10px;
}

#article input[type="email"]{
    padding: 8px;
    width: 230px;
    height: 40px;
    border: none;
}

/* boxes ID */

#boxes{
    /* border: red 3px solid; */
    margin-top: 20px;
    
}

#boxes .container{
    display: flex;
    flex-direction: row;
}
#boxes .box{
    /* border: yellow 3px solid; */
    width: 30%;
    text-align: center;
    padding: 20px;
}


#footer{
    padding: 30px;
    background: #a8491d;
    text-align: center;
    color: #fff;

}

#footer p{
    font-size: 18px;
}

#sidebar{
    width: 30%;
    margin-top: 15px;
    float: right;
    color: white;
    padding: 25px;
    background: #35424a;
}

#maim-col{
    float: left;
    width: 55%;
    margin-bottom: 35px;
}

#maim-col .dark{
    background: #35424a;
    color: #fff;
    padding: 15px;
    margin-top: 20px;
}

#maim-col .page-title{
    text-transform: capitalize;
}

/* services section */

#our-services{
    margin: 30px;
    width: 40%;
    /* float: left; */

}

#our-services h3{
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 28px;
}

.info-boxes{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-boxes h4{
    text-transform: capitalize;
    margin-bottom: 10px ;
}

.Box-1{
    border: 3px solid  rgb(70, 70, 110);
    padding: 40px 20px;
    border-radius: 10px;
}

#form-guide{
    width: 30%;
    height: 40%;
    margin-top: 15px;
    float: right;
    color: white;
    padding: 25px;
    background: #35424a;
}
form input, form textarea{
    display: block;
    border: none;
    padding: 10px;
    width: 200px;
}

#main-content{
    display: flex;
    justify-content: space-evenly;
    gap: 80px
}